<div class="content">
  <div class="header">
    <div class="left-side">
      <p (click)="overlayCtrlService.showOverlay('editChannel')">
        # {{ channel.name }}
      </p>
      <div class="dropdown"></div>
    </div>
    <div class="right-side">
      <div>
        <div (click)="overlayCtrlService.showOverlay('members')">
          <img src="../../../../assets/img/avatar/avatar1.svg" alt="" />
          <img src="../../../../assets/img/avatar/avatar2.svg" alt="" />
          <img src="../../../../assets/img/avatar/avatar3.svg" alt="" />
        </div>
        <p id="counter">{{ channel.members.length }}</p>
      </div>
      <div
        (click)="overlayCtrlService.showOverlay('add-members')"
        id="add-person"
      >
        <img src="../../../../assets/icons/person_add.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="messages pad20"></div>
  <div class="form-field-textarea-style2 pad20">
    <div class="textarea-field-wrapper">
      <textarea
        placeholder="Starte eine neue Nachricht"
        name="description"
        #textarea
      ></textarea>
    </div>
  </div>
</div>
