<div class="content">
  <div class="header">
    <div class="left-side">
      <p (click)="overlayCtrlService.showOverlay('editChannel')">
        # {{ channel.name }}
      </p>
      <div class="dropdown"></div>
    </div>
    <div class="right-side">
      <div>
        <div (click)="overlayCtrlService.showOverlay('members')">
          @for (member of channel.members; track member; let index = $index) {
          @if(index < 3){
          <img src="{{ member.imgPath }}" alt="" />
          } }
        </div>
        <p id="counter">{{ channel.members.length }}</p>
      </div>
      <div
        (click)="overlayCtrlService.showOverlay('add-members')"
        id="add-person"
      >
        <img src="../../../../assets/icons/person_add.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="massages-wrapper">
    @for (msg of messages; track msg) {
    <app-message-container [message]="msg"></app-message-container>
    }
  </div>
</div>
<div class="form-field-textarea-style2 pad20">
  <div class="textarea-field-wrapper">
    <textarea
      [(ngModel)]="newMessage.content"
      placeholder="Starte eine neue Nachricht"
      name="description"
      #textarea
    ></textarea>

    <img
      class="sendBtn"
      (click)="sendNewMessage()"
      src="../../../../assets/icons/Send icon.svg"
      alt=""
    />
  </div>
</div>
