<div class="content">
    <div class="header">
        <div>
            <img src="./../../../../assets/icons/Workspace logo.jpg" alt="">
            <p>Devspace</p>
        </div>
        <img src="../../../../assets/icons/16. edit_square.jpg" alt="">
    </div>
    <div class="body">
        <div class="channel-header">
          <div>
            <div class="dropdowwn"></div>
            <img src="" alt="">
            <p>Channels</p>
          </div>  
          <div class="plus-icon"></div>
        </div>
    </div>
</div>
