<div class="main-container">
    <div class="header">
        <div class="logo"></div>
        <input type="search" placeholder="Code learning durchsuchen" [(ngModel)]="search" class="search-bar">
        <div class="user">
            <div>{{this.activeUser.name}}User Test</div>
            <div>{{this.activeUser.avatarImgPath}} <img src="assets/img/avatar/avatar0.svg" alt=""> </div>
            <div><img class="user-menu" src="../../assets/img/keyboard_arrow_down.png" (click)="overlayCtrlService.showOverlay('dropDownUserMenu')"></div>
        </div>


    </div>
    <div class="content">
        <div class="left-side"><app-left-side></app-left-side></div>
        <div class="middle">Content</div>
        <div class="right-side">Thread</div>
    </div>
</div>

<app-overlay></app-overlay>