@import "./../../styles/includeStyles.scss";
@import "./../../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  background-color: white !important;
  aspect-ratio: 0 !important;
  width: 100% !important;

  > textarea {
    border: unset !important;
    outline: none !important;
  }
}

emoji-mart {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.icons {
  background-color: white !important;
  display: flex;
  flex-direction: row;
  width: 100% !important;
  justify-content: space-between;
  z-index: 1;
}

.left-side {
  display: flex;
  align-items: center;

  > .line {
    height: 70%;
    width: 2px;
    background-color: #adb0d9;
  }
  > #openFile {
    cursor: pointer;
    padding: 8px;

    &:hover {
      content: url(../../../../assets/icons/addhover.svg);
      background-color: $prim-color-light-hover;
      border-radius: 50%;
    }
  }
  > #openEmoji {
    cursor: pointer;
    padding: 8px;

    &:hover {
      content: url(../../../../assets/icons/sentiment_satisfiedhover.svg);
      background-color: $prim-color-light-hover;
      border-radius: 50%;
    }
  }
  > #openUserList {
    cursor: pointer;
    padding: 8px;

    &:hover {
      content: url(../../../../assets/icons/alternate_emailhover.svg);
      background-color: $prim-color-light-hover;
      border-radius: 50%;
    }
  }
}

.sendBtn {
  width: 40px;
  height: 40px;
  &:hover {
    content: url(../../../../assets/icons/Send\ iconhover.svg);
  }
}
