@if (selectMember) {
<div class="user-list-dropdown">
  @for (user of filteredUserList; track user; let idx = $index) {
  <app-userlistitem [user]="user" (click)="addUser(user)"></app-userlistitem>
  }
</div>
}
<div class="form-field-textarea-style2 pad20">
  <div class="textarea-field-wrapper">
    @if(showEmojiPicker){<emoji-mart
      [totalFrequentLines]="1"
      [showPreview]="false"
      set="google"
      [darkMode]="false"
      color="#444DF2"
      (emojiSelect)="addEmoji($event)"
      (click)="$event.stopPropagation()"
    ></emoji-mart
    >}
    <div class="container">
      <button (click)="downloadFile()">Download file</button>
      <textarea
        [(ngModel)]="newMessage.content"
        placeholder="Starte eine neue Nachricht"
        name="description"
        #textarea
      ></textarea>
      <div class="icons">
        <div class="left-side">
          <img
            (click)="openFileExplorer()"
            src="../../../../assets/icons/addgrey.svg"
            alt=""
          />

          <img
            src="../../../../assets/icons/sentiment_satisfiedsmiley.svg"
            (click)="toggleEmojiPicker()"
            alt=""
          />

          <img
            src="../../../../assets/icons/alternate_email.svg"
            alt=""
            (click)="toggleUserList()"
          />
        </div>

        <div class="right-side">
          <img
            class="sendBtn"
            (click)="sendNewMessage()"
            src="../../../../assets/icons/Send icon.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
