<div class="reset-password-card">
    <button class="btn-default icon-btn back-btn">
        <div class="back-btn-icon"></div>
    </button>
    <div class="card-header">
        <h2>Passwort zurücksetzten</h2>
    </div>
    <form class="card-content" #newPWForm="ngForm" (ngSubmit)="onSubmit(newPWForm)">
        <div class="form-field-ipt-text-icon">
            <div class="ipt-field-wrapper">
                <input type="password" placeholder="Passwort" required name="newPassword" #newPasswordModel="ngModel" [(ngModel)]="newPassword">
            </div>
        </div>
        <div class="form-field-ipt-text-icon">
            <div class="ipt-field-wrapper">
                <input type="password" placeholder="Passwort" required name="confirmPassword" #confirmPasswordModel="ngModel" [(ngModel)]="confirmPassword">
            </div>
            <span [hidden]="confirmPasswordModel.untouched || newPassword == confirmPassword" class="error-msg">Falsches Passwort. Bitte noch einmal versuchen.</span>
        </div>
        <button class="btn-default primary-btn" [disabled]="!newPWForm.valid || newPassword != confirmPassword">Passwort speichern</button>
    </form>
</div>

<app-overlayanmelden [onIptChangeShowOverlay]="toggleOverlay"></app-overlayanmelden>
