<div class="content">
  <div class="header">
    <div>
      <img src="{{ secondUser.imgPath }}" alt="" />
      <img class="status" src="../../../../assets/icons/Offline.jpg" alt="" />
    </div>
    <b>{{ secondUser.name }}</b>
  </div>

  <div class="messages pad20">
    <div>
      <img src="{{ secondUser.imgPath }}" alt="" />
      <b>{{ secondUser.name }}</b>
    </div>
    <div class="massages-wrapper">
      @for (msg of messages; track msg) {
        <div>{{ msg.content }} <br> {{ msg.creator.name}}</div>
      }
    </div>
    <div>
      <p class="info">
        Diese Unterhaltung findet nur zwischen
        <span class="info-span">&commat;{{ secondUser.name }}</span> und dir statt.
      </p>
    </div>
  </div>
  <div class="form-field-textarea-style2 pad20">
    <div class="textarea-field-wrapper">
      <textarea
        placeholder="Starte eine neue Nachricht"
        name="description"
        #textarea
        [(ngModel)]="newMessage.content" 
      ></textarea>
      <button (click)="sendNewMassage()">send Message</button>
    </div>
  </div>
</div>
