<div class="content">
  <div class="header">
    <div>
      <img src="../../../../assets/img/avatar/avatar2.svg" alt="" />
      <img class="status" src="../../../../assets/icons/Offline.jpg" alt="" />
    </div>
    <b>Noah Braun</b>
  </div>

  <div class="messages pad20">
    <div>
      <img src="../../../../assets/img/avatar/avatar2.svg" alt="" />
      <b>Noah Braun</b>
    </div>

    <div>
      <p class="info">
        Diese Unterhaltung findet nur zwischen
        <span class="info-span">&commat;Sofia Müller</span> und dir statt.
      </p>
    </div>
  </div>
  <div class="form-field-textarea-style2 pad20">
    <div class="textarea-field-wrapper">
      <textarea
        placeholder="Starte eine neue Nachricht"
        name="description"
        #textarea
      ></textarea>
    </div>
  </div>
</div>
