$prim-color: rgba(68, 77, 242, 1);
$prim-color-hover: rgba(121, 126, 243, 1);

$hover-grey: rgba(230, 230, 230, 1);
$prim-color-light-hover: rgba(236, 238, 254, 1);
$prim-color-bright-hover: rgba(83, 90, 241, 1);

$bg-color: #eceefe;

$white: #FFFFFF;
$black: #000000;