<div class="content">
  <div>
    <h3>Leute hinzufügen</h3>
    <button
      class="btn-default icon-btn back-btn"
      (click)="overlayCtrlService.hideOverlay()"
    >
      <div class="back-btn-icon"></div>
    </button>
  </div>
  <p># Entwicklerteam</p>
  <div class="form-field-ipt-style2">
    <div class="ipt-field-wrapper field">
      <input type="text" placeholder="Name eingeben" />
    </div>
  </div>
  <button class="btn-default primary-btn btn"><span>Hinzufügen</span></button>
</div>
