<div class="content">
  <div>
    <h3>Mitglieder</h3>
    <button class="btn-default icon-btn back-btn">
      <div class="back-btn-icon"></div>
    </button>
  </div>
  <ul>
    <li class="item">
      <div>
        <img src="../../../../assets/img/avatar/avatar0.svg" alt="" />
        <img class="status" src="../../../../assets/icons/Online.jpg" alt="" />
      </div>
      <p>Frederik Beck (Du)</p>
    </li>
    <li class="item">
      <div>
        <img src="../../../../assets/img/avatar/avatar1.svg" alt="" />
        <img class="status" src="../../../../assets/icons/Online.jpg" alt="" />
      </div>
      <p>Sofia Müller</p>
    </li>
    <li class="item">
      <div>
        <img src="../../../../assets/img/avatar/avatar2.svg" alt="" />
        <img class="status" src="../../../../assets/icons/Offline.jpg" alt="" />
      </div>
      <p>Noah Braun</p>
    </li>
    <div class="bottom">
        <img src="../../../../assets/icons/person_add.svg" alt="" />
        <p>Mitglieder hinzufügen</p>
      </div>
    
  </ul>

</div>
