@import "./../../../shared/styles/includeStyles.scss";
@import "./../../../../styles.scss";

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 13px;
  > li {
    display: flex;
    align-items: center;
    gap: 15px;

    > p {
      margin: 0;
    }
    > div {
      > .status {
        vertical-align: bottom;
        margin-left: -20px;
      }
    }
  }
}

.item {
  border-radius: 100px;

  &:hover {
    background-color: $prim-color-light-hover;
  }
}


