<div class="content">
  <div class="header">
    <div>
        <h2>Thread</h2>
        <p class="channels-name"># Entwicklerteam</p>
    </div>
    <button class="btn-default icon-btn back-btn">
        <div class="back-btn-icon"></div>
      </button>
  </div>

  <div class="messages pad20"></div>
  <div class="form-field-textarea-style2 pad20">
    <div class="textarea-field-wrapper">
      <textarea
        placeholder="Antworten..."
        name="description"
        #textarea
      ></textarea>
    </div>
  </div>
</div>
