<div class="content" [style.transform]="this.threadService.isShowingSig() ? 'translateX(0)' : 'translateX(500px)'">
  <div class="header">
    <div>
      <h2>Thread</h2>
      <p class="channels-name"># {{ channel.name }}</p>
    </div>
    <button class="btn-default icon-btn back-btn"  (click)="this.threadService.isShowingSig.set(false)">
      <div class="back-btn-icon"></div>
    </button>
  </div>

  <div class="messages massages-wrapper">
    @if(message.content != ""){
    <app-message-container [message]="message"></app-message-container>
    }
  </div>
  <div class="form-field-textarea-style2 pad20">
    <div class="textarea-field-wrapper">
      <textarea
        placeholder="Antworten..."
        name="description"
        #textarea
      ></textarea>
    </div>
  </div>
</div>
