<div class="content">
  <div class="header">
    <div>
      <h2>Thread</h2>
      <p class="channels-name"># {{ channel.name }}</p>
    </div>
    <button class="btn-default icon-btn back-btn"  (click)="this.threadService.isShowingSig.set(false)">
      <div class="back-btn-icon"></div>
    </button>
  </div>
  <div class="messages massages-wrapper">
    @if(message.content != ""){
    <app-message-container [message]="message" [msgType]="'thread'"></app-message-container>
    }
      @if (this.messages) {
        @for (message of this.messages; track message) {
          <app-message-container [message]="message" [msgType]="'thread'"></app-message-container>
        }
      }
  </div>
  <div class="textarea">
    <app-textarea-container
      [isThread]="true"
      [colId]="'Channels'"
    ></app-textarea-container>
  </div>
</div>

