<div class="content">
  <div class="header">
    <h2>Neue Nachricht</h2>
    <div class="form-field-ipt-style2">
      <div class="ipt-field-wrapper field">
        <input
          type="text"
          placeholder="An: #channel, oder @jemand oder E-Mail Adresse"
          [(ngModel)]="userIds[0]"
          name="userIds"
        />
      </div>
    </div>
  </div>

  <div class="messages"></div>
  <div class="form-field-textarea-style2 pad20">
    <div class="textarea-field-wrapper">
      <textarea
        placeholder="Starte eine neue Nachricht"
        name="description"
        [(ngModel)]="content"
        #textarea
      ></textarea>
      <button (click)="createNewDirectMessage()">Create Message</button>
    </div>
  </div>
</div>
