.main {
  display: flex;
  position: relative;
  height: 100vh;
  font-family: "Nunito";
  justify-content: center;
  align-items: center;
  background-color: #eceefe;
}


.login-container,
.headline-container,
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.input-container {
  width: 80%;
  color: black;
}

.headline-container {
  gap: 30px;
  width: 80%;
  text-align: center;
  margin-bottom: 30px;
}

.login-container {
  background-color: white;
  border-radius: 30px;
}

.headline {
  color: #444df2;
  font-size: 46px;
  font-weight: 700px;
  margin-top: 30px;
}

.subheadline {
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.invalid-input {
  color: red;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.forgot-pw {
  font-size: 18px;
  font-weight: 400;
  color: #797ef3;
  text-decoration: none;
  margin: 30px 0 30px 0;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
    border-radius: 30px;
  }
}

.input-pw {
  background-image: url("../../../assets/img/lock.png");
  background-repeat: no-repeat;
  background-position: 20px 50%;
  margin-top: 30px;
}

.input-email {
  background-image: url("../../../assets/img/mail.png");
  background-repeat: no-repeat;
  background-position: left;
  background-position: 20px 50%;
}

.input-fields {
  font-size: 18px;
  font-weight: 500;
  padding: 18px 32px 18px 64px;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #edeefe;
  width: 100%;
  cursor: pointer;
  outline: none;

  &:focus {
    border: 1px solid blue;
  }

  &:hover {
    border: 1px solid black;
  }
}

.googleLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 30px 0 30px 0;
  color: blue;
  cursor: pointer;
  padding: 18px 32px 18px 32px;

  >p {
    margin: 0;
    padding: 0;
  }

  &:hover {
    border: 1px solid blue;
    scale: 1.05;
  }
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;

  >img {
    width: 200px;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.login-btn {
  padding: 12px 25px;
  border-radius: 25px;
  background-color: #444df2;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: #797ef3;
    transition: 0.1s ease-in-out;
  }

  &:disabled {
    background-color: #686868;
    cursor: unset;
  }
}

.guest-login {
  padding: 12px 25px;
  border-radius: 25px;
  border: 1px solid #444df2;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #444df2;
  background-color: #fff;

  &:hover {
    background-color: #444df2;
    color: #fff;
    transition: 0.1s ease-in-out;
  }
}
