<div class="main">

  <div class="login-container">
    <div class="headline-container">
      <div class="headline">Anmeldung</div>
      <div class="subheadline">
        Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </div>
    </div>
    <form (ngSubmit)="onSubmit(f)" class="input-container" #f="ngForm">
      <input type="email" required placeholder="beispielname.@email.com" id="userEmail" name="userEmail" ngModel
        #userEmail="ngModel" class="input-email input-fields" email />
      @if (!userEmail.valid && userEmail.touched) {
      <div class="invalid-input">
        *Diese E-Mail-Adresse ist leider ungültig.
      </div>
      }
      <input type="password" required placeholder="Passwort" id="password" name="password" ngModel #password="ngModel"
        class="input-pw input-fields" />
      @if (!password.valid && password.touched) {
      <div class="invalid-input">
        *Falsches Passwort. Bitte noch einmal versuchen.
      </div>
      }
      <div class="forgot-pw" (click)="forgotPw()">Passwort vergessen ?</div>
      <div class="divider">
        <img src="../../../assets/img/line.png" alt="" />
        <div>ODER</div>
        <img src="../../../assets/img/line.png" alt="" />
      </div>
      <div class="googleLogin input-fields">
        <img src="../../../assets/img/Google.png" alt="" />
        <p>Anmelden mit Google</p>
      </div>

      <div class="btn-container">
        <button [disabled]="!f.valid" type="submit" class="login-btn">
          Anmelden
        </button>
        <button type="button" class="guest-login" (click)="logInTestUser()">Gäste-Login</button>
      </div>
    </form>
  </div>


</div>

<!-- @if (animationPlayed === 0) {
<img src="../../../assets/img/Logo.png" alt="" class="first-logo">
<img src="../../../assets/img/Logo name.png" alt="" class="second-logo">
<div class="overlay-intro"></div>
}
@if (animationPlayed != 0){
<img src="../../../assets/img/Logo.png" alt="" class="first-logo-without-animation">
<img src="../../../assets/img/Logo name.png" alt="" class="second-logo-without-animation">
} -->