@import './../../styles/includeStyles.scss';

.msg-wrapper{
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 10px 10px 10px 45px;
  gap: 30px;
  >.toolbar{
    position: absolute;
    right: 100px;
    top: 0;
    transform: translateY(-50%);
    opacity: 0;
    background-color: red;
  }
  > img{
    width: 70px;
    aspect-ratio: 1;
  }
  &:hover{
    background-color: $prim-color-light-hover;
    >.toolbar{
      opacity: 100%;
    }
    .msg-content{
      background-color: white;
    }
    .thread-last-reply-time{
      color: black !important;
    }
  }
}

.msg-content-wrapper{
  display: flex;
  flex-direction: column;
  gap: 8px;
  > .content-header{
    display: flex;
    gap: 20px;
    align-items: flex-end;
    font-family: 'Nunito';
    >.msg-creator-name{
      cursor: pointer;
      font-size: $fnt-size-XS;
      font-weight: 700;
      &:hover{
        color: $prim-color-bright-hover;
      }
    }
    >.msg-time{
      font-size: $fnt-size-XXS;
      font-weight: 400;
      color: $dark-grey;
    }
  }
  >.msg-content{
    border-radius: 0px 30px 30px 30px;
    background-color: $prim-color-light-hover;
    padding: 15px;
  }
}

.msg-footer{
  display: flex;
  align-items: center;
  gap: 40px;
  >.msg-thread-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    >.thread-replies{
      cursor: pointer;
      font-size: $fnt-size-XS;
      color: $prim-color-bright-hover;
      font-weight: 400;
      &:hover{
        font-weight: 700;
      }
    }
    >.thread-last-reply-time{
      font-size: $fnt-size-XXS;
      font-weight: 400;
      color: $dark-grey;
    }
  }
}

.active-user-msg{
  padding: 10px 45px 10px 10px;
  flex-direction: row-reverse;
  >.toolbar{
    right: unset;
    left: 100px;
  }
  .content-header{
    flex-direction: row-reverse;
  }
  .msg-content{
    border-radius: 30px 0px 30px 30px;
    color: white;
    background-color: $prim-color-hover;
  }
  .msg-footer{
    justify-content: flex-end;
  }
  .files-wrapper{
    align-self: flex-end;
  }
  &:hover{
    .msg-content{
      background-color: $prim-color-hover;
    }
  }
}