<div class="container">
  <div class="toolbar"></div>
  <div class="profile"><img src="{{ message.creator.imgPath }}" alt="" /></div>
  <div class="message">
    <div class="header">
      <div class="name">{{ message.creator.name }}</div>
      <div class="time">
        {{ message.date.getHours() }}:{{ message.date.getMinutes() }} Uhr
      </div>
    </div>
    <div class="content">{{ message.content }}</div>
    <div class="footer">
      <div class="replies" (click)="toggleThreads()">Antworten</div>
      <div class="footer-time">Letzte Antwort 14:56</div>
    </div>
    <div class="reactions"></div>
  </div>
</div>
