<div class="msg-wrapper " [class.active-user-msg]="isMessageFromActiveUser()">
  <div class="toolbar">Toolbar</div>
  <img src="{{ message.creator.imgPath }}" alt="">
  <div class="msg-content-wrapper">
    <div class="content-header">
      <span class="msg-creator-name" (click)="selectUser(message.creator)">{{ message.creator.name }}</span>
      <span class="msg-time">
        {{ message.date.getHours() }}:{{ message.date.getMinutes() }} Uhr
      </span>
    </div>
    <div class="msg-content">{{ message.content }}</div>
    <div class="msg-footer">
      @if(msgType == 'channel'){
        <div class="msg-thread-wrapper">
          <span class="thread-replies" (click)="toggleThreads()"> {{ nrThreadMsg }} Antworten</span>
          <span class="thread-last-reply-time">Letzte Antwort {{ lastThreadMsgTime.getHours() }}:{{ lastThreadMsgTime.getMinutes() }}</span>
        </div>
      }
      <div class="reaction-wrapper">
        Reactions
      </div>
    </div>
    <div class="files-wrapper">
      files
    </div>
  </div>
</div>

