html {
  position: relative;
}
.content {
  width: auto;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  left: 0px;
  right: 0px;
  gap: 20px;
  z-index: 1;

  >a {
    cursor: pointer;
    font-family: "Figtree";
    color: #797ef3;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;

    text-decoration: none;
    font-family: Figtree;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #797ef3;
    border-radius: 32px;
    padding: 5px 15px;
    border: 1px solid rgba(255, 255, 255, 0);

    &:hover {
      border: 1px solid black;
      border-radius: 30px;
    }
  }
}

.create-account {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  z-index: 1;

  >.create {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }

}

.overlay-intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #fcfdfe, #0000ff);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: fading-out 3s linear;
  z-index: -1;

}

.first-logo {
  position: absolute;
  top: 75px;
  left: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: logo-animation 2s ease-in-out;
  opacity: 0;

}

.second-logo {
  position: absolute;
  top: 100px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: logo2-animation 2s ease-in-out;
  overflow: hidden;
  opacity: 0;
}


@keyframes fading-out {
  0% {
    opacity: 1;
    z-index: 3;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    z-index: 3;

  }
}

@keyframes logo-animation {
  0% {
    top: 50%;
    left: 50%;
    scale: 1.5;
    z-index: 4;
    transform: translate(-50% -50%);
    opacity: 1;
  }

  80% {
    top: 50%;
    left: 50%;
    scale: 1.5;
    z-index: 4;
    transform: translate(-50% -50%);
    opacity: 1;
  }

  100% {
    top: 75px;
    left: 11%;
    scale: 1;   
    z-index: 4;
    transform: translate(-50% -50%);
    opacity: 1;

  }

}


@keyframes logo2-animation {
  0% {
    top: 50%;
    left: 50%;
    scale: 2.5;
    transform: rotate(0deg) translateX(150px) rotate(0deg);
    z-index: 4;
    transform: translate(-50% -50%);
    opacity: 1;
  }

  80% {
    top: 50%;
    left: 50%;
    scale: 1;
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
    z-index: 4;
    transform: translate(-50% -50%);
    opacity: 1;
  }

  100% {
    top: 100px;
    left: 12%;
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
    z-index: 4;
    transform: translate(-50% -50%);
    opacity: 1;
  }
}

.first-logo, .second-logo {
  animation-delay: 1s; 
  z-index: 1;
}

.first-logo-without-animation {
  display: flex;
  justify-content: center;
  z-index: 1;

}

.second-logo-without-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

}

.header {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  }
  
  .non-animation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}